<button class="toggling" target="events">
	Event Listings
</button>
<section id="events">
	<% Event.sources.each do |source| %>
		<a href="/events/<%= source[:key] %>"><%= source[:name] %></a> <br>
	<% end %>
</section>