<button class="toggling" target="events">
	Event Listings
</button>
<section id="events">
	<i>todo: combine all these into a single feed</i> <br>
	<!-- <a class="loading-alert" href="/events/all">All</a> <br> -->
	<% Event.sources.each do |source| %>
		<a class="loading-alert" href="/events/<%= source[:key] %>">
			<%= source[:name] %>
		</a> <br>
	<% end %>
</section>