<p id="notice"><%= notice %></p>

<button class="toggling" target="new-item">New Item</button> <br> <br>
<section id="new-item">
	<div>
		<%= render "items/form" %>
	</div>
</section>

<br><hr><br><br>

<section>
	<b>Items</b> <br> <br>
	<div>
		<%= render "items/index" %>
	</div>
</section>

