<p id="notice"><%= notice %></p>

<section>
	<b>New Item</b> <br> <br>
	<div>
		<%= render "items/form" %>
	</div>
</section>

<br><hr><br><br>

<section>
	<b>Items</b> <br> <br>
	<div>
		<%= render "items/index" %>
	</div>
</section>

